<h1> Who's a good doggo!? </h1>

<p> Name: <%=@employee.first_name  %></p>
<p> Nickname: <%=@employee.alias%></p>
<p>Title: <%=@employee.title %></p>
<p>Office: <%=@employee.office%></p>
<p>Dog: <%=@employee.dog.name %></p>
<img src="<%=@employee.img_url%>" alt="profile pic">
