<h1>Employee First Name: <%= @employee.first_name %></h1>

<h1> Employee Last Name: <%= @employee.last_name %></h1>

<h1>Employee Title: <%= @employee.title %></h1>

<h1>Employee Office: <%= @employee.office %></h1>

<h1>Employee Alias: <%= @employee.alias %></h1>


<img src= <%= "#{@employee.img_url}" %> alt="Alt Picture" width="700" >
