<h1> <%= @employee.first_name%> <%= @employee.last_name%></h1>

<p> <%= @employee.alias%> </p>
<p> <%= @employee.title%> </p>
<p> <%= @employee.office%> </p>
<p> <%= @employee.img_url%> </p>
<p> <%= @employee.dog.name%> </p>

